
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333333;
    background: #eff1f5;
    min-height: 100%;
    position: relative;
}

.vh-100 {
    height: 100vh;
}
.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}